body {
	background-color: lightgrey;
	background-image: center;
}

h1 {
	font-family: sans-serif;
}

header {
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
}

p {
	  width: 100%;
	  
}

.logo {
  text-align: center;
}

span {
	color: red;
	font-weight: bold;
}

footer {
clear: both;
position: relative;
text-align: center;
  
}

hr {
	border-top: 1px dotted
    border-bottom: 1px solid ;
}

ul {
 list-style-type: none;
 font-weight: bold;
 font-family: sans-serif;
 margin: 0;
 padding: 0;
 line-height: 1.5em ;

}

#left {
	float: left;
	background-color: white;
	margin: 0px 30px 20px 80px;
	width: 620px;
	padding: 20px 20px 20px 20px;
	font-family: sans-serif;
}

#right {
	float: left;
	background-color: white;
	width: 220px;
	margin: 100px 20 px 20px 20px;
	padding: 20px 20px 20px 20px;
	font-family: sans-serif;
}