/*html {
  box-sizing: border-box;
}
 * {
  box-sizing: inherit;
}

body {
  width: 310px;
  margin-left: 500px;
  }

.redDot{
  background-color: #CF0000;
}


.blueDot{  
  background: #010163;
}

.grid{
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.buttons{
  width: 100px;
  height: 100px;
  border: 3px solid gray;
  float: left;
  border-radius: 50%;
}*/

body {
  width: 310px;

  margin-left: 500px;
  background-image: url ("images/oceanblue.gif");
  background-color: white;


  }

  .boxes {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  float: left;
  /*background-image: url ("../images/cat4.jpg");
*/
}
  *.red {
  background-color: red;
  background-image: url ("../images/cat4.jpg");
}

  *.blue {
  background-color: blue;
  
}

