* {
	box-sizing: border-box;
}

.score {
	text-align: center;
}

.board {
	width: 300px;
	height: 300px;
	margin: 0 auto;
    cursor: url(hammer.png) 200 0, pointer;
}

.hole {
	width: 100px;
	height: 100px;
	border: 3px solid gray;
	float: left;
}

.hole:active {
	background: tomato;
}

img {
	width: 100px;
	position: relative;
	top: 7px;
}