<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>Chat App</title>
		<link rel="stylesheet" href="css/normalize.css">
		
		<link rel="stylesheet" href="css/style.css">
		

        <!-- 1 - link to angular, firebase then angularfire here-->
       <script src="js/angular.js"></script> <!-- //test it: type angular in console -->
       <script src="js/firebase.js"></script> <!-- // link firebase first, the order is important -->
       <script src="js/angularfire.js"></script> <!-- //then add angularfire.js -->
       
        
		<script src="js/app.js"></script>
		<script src="js/ChatController.js"></script>
	</head>

	<!-- 2 - use a the correct directive to bring in chatApp on body -->
	<body ng-app="chatApp"> 
	{{2+2}} <!-- //use it to test everything is well linked -->

		<!-- 3 use the correct directive to bring in ChatController  -->
		<div class="wrapper chat-list" ng-controller="ChatController as chatCtrl"> <!-- //create an alias: chatCtrl for ChatController -->
	 		<!-- NOW Got to the app.js page, add FB as dependency then go to ChatController page -->

			<h1> Super awesome chat app! </h1>
			<main>
				<section>
					<ul>
						<!-- 4 bring in the correct directive to iterate over our chat array -->
						<li ng-repeat="chat in chatCtrl.chats">
							<span><!-- 5 we will probably need {{}} and a reference to each message here -->
							{{ chat.message }}	
							</span>
						</li>
					</ul>
				</section>

				<!-- 6 ng-submit and ng-model are needed here to wire up the form -->
				<!-- ng-submit="chatsCtrl.addChat()" on form
				ng-model="chatsCtrl.text" on text-box input -->

				<form class="add-chat" ng-submit="chatCtrl.addChat()">
					<input class="text-box" type="text" ng-model="chatCtrl.text">
					<input type="submit" class="btn btn-add" value="send">
				</form>

				
			</main>
		</div>
	</body>
</html>
