
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*background-color: red;*/
    position: relative;
    -webkit-animation-name: example; /*//name should refer to @keyframe*/
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example { /*//the % is the position its gonna look at this %, the progression of the animation within 10s which is animation duration time set above */
    0%   {left:0px; top:0px;} /*//at 0% is where it starts*/
    25%  {background-color:tomato; left:600px; top:400px;}
    50%  {background-color:indianred; left:600px; top:0px;}
    75%  {background-color:dodgerblue; left:0px; top:400px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
