
#container {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    perspective: 100px;
}

#card {
    padding: 50px;
    border: 1px solid black;
    background-color: tomato;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg);
}