<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <ul>
 	<li><a href="#">MAGIC</a></li>
   <li><a href="#">Home</a></li>
	<li><a href="#">Meet our Students</a></li>
	<li><a href="#">Contact</a></li>
	</ul>
  </div>
</nav>
