/*@import a Google Font here!*/

body {
background-image: url("../images/background.png");
}

#container {
  margin: 0 auto;
  border-radius: 10px;
 
}

.dashed {
border: 1px dashed red;
padding: 10px 10px;
margin: 0 auto;
width: 200px;
border-radius: 10px;
}

.left-container, .right-container {
border: 1px solid green;
padding: 10px 10px;
margin: 0 auto;
width: 250px;
border-radius: 10px;
float: left;

}
h1 {
	
}



