body {
	background-color: lightgrey;
}

.add-chat {
	padding: 30px;
	width: 80%;
	margin: 20vh;
}

.chat-list {
	border:5px solid #289DFD;
	border-radius: 10px;
	width: 50%;
	margin: 10px auto;
	background-color: rgba(255, 255, 255, 0.65);
}
ul {
	height: 200px;
	overflow:hidden;
}
h1{
	text-align: center;
	color: #289DFD
}
li {
	/*height: 25px;*/
	width: 200px;
	border: 1px solid #289DFD;
	border-radius:10px;
	padding: 5px;
	margin: 3px;
	background-color: #289DFD;
	color: white;
}


.btn {
	border: none;
	padding: 6px 15px;
	color: white;
	background: none;
	outline: none;
}

.btn-add {
	background-color: #289DFD;
	/*width: 11%;*/
}

